<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style">
    <link rel="shortcut icon" type="image/x-icon" href="/image" style="height: 10px; width: 10px;"/>
    <title>Admin List</title>
</head>
<body>
    <!-- NavBar Start -->
    <header>
        <nav class="logo-title">
            <a href="/">
                <img src="/image" alt="logo" class="logo">
                <h1 id="page-title">AcTrak</h1>
            </a>
        </nav>
    </header>  
    <hr>
    <!-- NavBar End -->

    <!-- Print Admin Details -->
    <% for(let i=0; i < adminDetails.length; i++) { %>
        <h3 class="centerLink">Event <%= i+1%> </h3>
        <div class="event-box", id="customers">
            <table>
                <tr>
                    <th>Admin</th>
                    <th><%=adminDetails[i]["name"]%> </th>
                </tr>
                <% for (const det in adminDetails[i]["_doc"]) {%>  
                    <%if(det!="__v" & det!="_id" & det!="name" &det!="password"){%> 
                    <tr>
                        <td id="event-details-attributes"><%=det%> </td>
                        <td> <%=adminDetails[i]["_doc"][det]%> </td>
                    </tr>
                    <%}%>
                <%}%>
            </table>
            <hr>
        </div>
    <% } %>

    <!-- No Admins Found -->
    <%if(adminDetails.length==0){%>
        <h1>No Admins found</h1>
    <% } %>
</body>
</html>

 

