<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style">
    <title>Forgot Password</title>
</head>
<body>
    <header>
        <header>
            <nav class="navContainer">
                <nav class="logo-title">
                    <a href="/">
                        <img src="/image" alt="logo" class="logo" />
                        <h1 id="page-title">AcTrak</h1>
                    </a>
                </nav>
                <a href="/main"><i class="bi bi-house-door-fill"></i>Home</a>
            </nav>
          </header>
    </header>  
    <h1>Forgot Password</h1>
    <form action="/forgotPassword" method="POST" class="event-form">
        <div class="eventBox">
            <label for="email">Enter the email</label><br>
        <input type="text" id="email" name="email" required>
        </div>
        <button type="submit" value="Submit" class="submit-btn">Change Password</button>
    </form>
</body>
</html>