
@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:wght@300&display=swap');

:root{
    --primaryTheme :  #EFF6FB
}


*{
    box-sizing: border-box;
    padding: 0px 5px;
    margin: 0px;
    background-color: var(--primaryTheme);
}
body{
    align-items: center;
    justify-content: center;
    text-align: center;
}
.logo{
    width: 100px;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-links{
    display: flex;
}

.list li{
    list-style: none;
    display: inline-block;
}

a{
    text-decoration: none;
}

.logo-title{
    display: flex;
    align-items: center;
    padding: 0px;
}

#page-title{
    font-family: 'Comic Neue', cursive;
    font-weight: 400px;
}

.student-login{
    position: justify;
    color: #EFF6FB;
    padding: 1rem;
    position: absolute;
    right:55px;
    top: 25px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    background-color: #3A5AFF;
    border-radius: 5px;
}
.student-login a{
    
    align-items: center;
    /* color : #EFF6FB; */
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
}
.org-login{
    position: justify;
    padding: 1rem;
    position: absolute;
    left:850px;
    top:25px;
    border-radius: 5px;
}

.login-title{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 44px;
    text-align: center;
    color: #000000;
}

.login-form, .event-form{
    margin: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
}

.submit-btn{
    margin: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 16px 32px;
    background: #3A5AFE;
    border-radius: 8px;
    color: white;
}


.logo-title{

    display: inline-block ;
}

.centerLink{
    margin: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: #3A5AFE;
}
#profType, #name, #college, #email, #password{
    margin-top: 0.5rem;
    padding: 0.3rem;
}
.login-box{
    align-items: center;
    align-content: center;
}

.event-box{
    margin: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
}

#customers {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  #customers td, #customers th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  #customers tr:nth-child(even){background-color: #f2f2f2;}
  
  #customers tr:hover {background-color: #ddd;}
  
  #customers th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #04AA6D;
    color: white;
  }

  #event-details-attributes{
      color : green;
      text-decoration: solid;
      text-shadow: #3A5AFE;
  }
.profAtr{
    color: #3A5AFE;
}

.profDet{
    padding: 1rem;
}

#mainDialog{
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 3.6rem;
    text-align: center;
    line-height: 8rem;
    letter-spacing: 0.5rem    ;
    padding: 2rem;
    margin-top: 1rem;
}

#errorMsg{
    text-align: center;
    color: red;
    justify-content: center;
    justify-items: center;
}

.indexBtns{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.indexBtn{
    margin: 1rem;
    padding: 0.5rem;
    background-color: #3A5AFE;
    border-radius: 0.5rem;
    border-width: 1px;
}
.indexBtn:hover, .indexBtn:hover a{
    background-color: white;
    color: black;
}
.indexBtn a{
    background-color: transparent;
    color: white;
}
.logout-btn{
    background-color : red;
}

button:hover{
    cursor:pointer;
    text-shadow: #000000;
}