<link rel="stylesheet" href="/style">

<style>
    *{
        background-color:white;
    }
</style>

<body>
    <header>
        <nav class="logo-title">
            <a href="/">
                <img src="/image" alt="logo" class="logo">
                <h1 id="page-title">AcTrak</h1>
            </a>
        </nav>
    </header>
    <div class="indexBtns">
        <h1>Hi <%= user.name %>,You are an <%= user.profType%></h1>
        <%if(user.profType=="Student"){%>
            <h2>Find the right place to showcase your skill</h2>
        <%}%>
        
        <%if(user.profType!="Student"){%>
            <button class="indexBtn"><a href="/events">Create Event</a></button>
        <%}%>
        <button class="indexBtn"><a href="/eventlist">Upcoming Events</a></button>
        <button class="indexBtn"><a href="/ongoingeventlist">Ongoing Events</a></button>
        <button class="indexBtn"><a href="/pasteventlist">Past Events</a></button>
        <button class="indexBtn"><a href="/profile">Profile</a></button>

        <%if(user.profType=="Organisation"){%>
            <button class="indexBtn"><a href="/manageAdmin">Admin Management</a></button>
        <%}%>

        <button class="indexBtn logout-btn"><a href="/logout">Log Out</a></button>
    </div>
    
</body>

