<link rel="stylesheet" href="/style">
<h1>Hi <%= name %></h1>

<body>
    <button class="student-login"><a href="/logout">Log Out</a></button>
    <button><a href="/events">Create Event</a></button>
    <button><a href="/eventlist">Upcoming Events</a></button>
</body>

