<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style">
    <link rel="shortcut icon" type="image/x-icon" href="/image" style="height: 10px; width: 10px;"/>

    <title>Login</title>
    
</head>
<body>
    <header class="navBox">
        <nav class="navContainer">
            <nav class="logo-title">
                <a href="/">
                    <img src="/image" alt="logo" class="logo" />
                    <h1 id="page-title">AcTrak</h1>
                </a>
                
            </nav>
            <a href="/main"><i class="bi bi-house-door-fill"></i>Home</a>
        </nav>
    </header>
    <div class="login-box">
        <h1 class="login-title">Student / Teacher / Organisation <br>Login</h1>
        <% if (messages.error) { %>
            <h4 style="color: red; margin : 1rem;"><%= messages.error %></h4>
        <% } %>
        <form action="/login" method="POST" class="login-form">
            <label for="email">email:</label><br>
            <input type="text" id="email" name="email" required>
            <br>

            <label for="password">Password:</label><br>
            <input type="password" id="password" name="password" required>

            <button type="submit" value="Submit" class="submit-btn">Submit</button>
        </form>
        <p class="centerLink" style="color: black;">Don't Have Account ?</p>
        <a class="centerLink" href="/register">Register</a>
        <a class="centerLink" href="/forgotPassword">Forgot Password</a>
    </div>
</body>
</html>
