<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style" type="text/css">
    <title>AcTrak</title>
</head>
<body>
    <header>
        <nav class="logo-title">
            <a href="index.html">
                <img src="/image" alt="logo" class="logo">
            </a>
            <h1 id="page-title">AcTrak</h1>
        </nav>
        
        <nav class="nav_links">
            <ul class="list">
                <li><a href="/eventlist">Upcoming Events</a></li>
                <li><a href="/collab">Collab</a></li>
            </ul>
        </nav>
        <nav class="login-btns">
            <a href="/login"><button class="student-login">Student Login</button></a>
            <a href="/orgRegister"><button class="org-login">Organization Login</button></a>
        </nav>
    </header>
    <div>
        <h2 id="mainDialog">Find the right place to showcase your skill</h2>
    </div>
</body>
</html>