<!DOCTYPE html>
<html lang="en">

<head>
    
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    
    <link rel="stylesheet" href="/style" type="text/css">
    <link rel="shortcut icon" type="image/x-icon" href="/image" style="height: 10px; width: 10px;" />

    <title>AcTrak</title>
</head>

<body class="mainBody">
    <header class="navBox">
        <nav class="logo-title">
            <a href="index.html">
                <img src="/image" alt="logo" class="logo" />
            </a>
            <h1 id="page-title">AcTrak</h1>
        </nav>
        <nav class="nav_links">
            <ul class="list">
                <li><a href="/eventlist">Upcoming Events<i class="bi bi-alarm-fill"></i></a></li>
                <li><a href="/collab">Collab<i class="bi bi-people"></i></a></li>
            </ul>
        </nav>
        <nav class="login-btns">
            <a href="/login"><button class="custom-btn btn-12"><span><i class="bi bi-building"></i></span><span>Student Login</span></button></i></a>
            <a href="/orgRegister"><button class="custom-btn btn-12"><span><i class="bi bi-building"></i></span><span>Organization Login</span></button></a>
        </nav>
    </header>
    <div id="MainNavBar"></div>
    <div id="NavBar"></div>
    <div>
        <h2 id="mainDialog">Find the right place to showcase your skill</h2>
    </div>
    
    <footer>
        <div class="contactUs">
            <h3>Contact Us</h3>
            <h4>Email : </h4>
            <h4>Contact Number : </h4>
        </div>
        <h3>All Rights are Reserved &copy;</h3>
    </footer>
</body>

</html>