<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/x-icon" href="/image" style="height: 10px; width: 10px;"/>
    <link rel="stylesheet" href="/style">
    <title>Manage Admins</title>
</head>
<body>
    <!-- NavBarStart -->
    <header>
        <header>
            <nav class="navContainer">
                <nav class="logo-title">
                    <a href="/">
                        <img src="/image" alt="logo" class="logo" />
                        <h1 id="page-title">AcTrak</h1>
                    </a>
                </nav>
                <a href="/main"><i class="bi bi-house-door-fill"></i>Home</a>
            </nav>
          </header>
    </header>  
    <hr>
    <!-- NavBarEnd -->
    <br>
    <h1>Manage Admins</h1>
    <div class="indexBtns">
        
        <a class="indexBtn" href="/addAdmin">Add Admins</a>
        <a class="indexBtn" href="/removeAdmin">Remove Admins</a>
        <a class="indexBtn" href="/showAdmin">Show Admins</a>
        <a class="indexBtn" href="/notifyEventToAll">Notify Event to all</a>

    </div>
</body>
</html>



