<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style">
    <title>Ongoing Events</title>
</head>
<body>
    <!-- NavBarStart -->
    <header>
        <nav class="navContainer">
            <nav class="logo-title">
                <a href="/">
                    <img src="/image" alt="logo" class="logo" />
                    <h1 id="page-title">AcTrak</h1>
                </a>
            </nav>
            <a href="/main"><i class="bi bi-house-door-fill"></i>Home</a>
        </nav>
    </header>
    <hr>
    <!-- NavBarEnd -->   
    <hr>
    
    <%if(ongoingeventdetails.length!=0){%>
        <h1>Events in Progress...</h1>
    <% } else{%>
        <h1>No events in progress</h1>
    <% } %>
    <div class="eventListOuterBox">
        <% for(let i=0; i < ongoingeventdetails.length; i++) { %>
            <div class="eventListInnerBox">
                <div class="titleBox">
                    <h1>Title </h1>
                    <h1><%=ongoingeventdetails[i]["_doc"]["title"]%></h1>
                </div>
                <div class="descriptionBox">
                    <p><%=ongoingeventdetails[i]["_doc"]["description"]%></p>
                </div>
            </div>
        <%}%>
    </div>
</body>

</html>





