<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/x-icon" href="/image" style="height: 10px; width: 10px;"/>

    <title>Organisation Login</title>
    <link rel="stylesheet" href="/style">

</head>
<body>
    <!-- NavBarStart -->
    <header>
        <nav class="navContainer">
            <nav class="logo-title">
                <a href="/">
                    <img src="/image" alt="logo" class="logo" />
                    <h1 id="page-title">AcTrak</h1>
                </a>
            </nav>
            <a href="/main"><i class="bi bi-house-door-fill"></i>Home</a>
        </nav>
      </header>   
    <hr>
    <!-- NavBarEnd -->
    <h1 class="login-title">Organisation Register</h1>
    
        <% if (isDuplicateEmail) { %>
            <h4 style="color: red; margin : 1rem;">email already taken</h4>
        <% } %>
    
    <form action="/orgRegister" method="POST" class="login-form">
        <div class="inputBox">
            <label for="orgName">OrganisationName</label>
            <input type="text" name="orgName" id="orgName" required>
        </div>
        <div class="inputBox">
            <label for="orgEmail">Organisation Email</label>
            <input type="email" name="orgEmail" id="orgEmail" required> 
        </div>
        <div class="inputBox">
            <label for="orgDomain">Organisation Domain</label>
            <input type="text" name="orgDomain" id="orgDomain" required>
        </div>
        <div class="inputBox">
            <label for="orgPassword">Password</label>
            <input type="password" name="orgPassword" id="orgPassword" required>
        </div>
        <div class="inputBox">
            <label for="workPlace">College/University/Company</label>
                <select name="workPlace" id="workPlace">
                    <option value="none" selected disabled hidden>Select the WorkPlace</option>
                    <option value="College">College</option>
                    <option value="University">University</option>
                    <option value="Company">Company</option>
            </select>
        </div>
        <div class="inputBox">
            <label for="orgLink">Organisation link</label>
            <input type="url" name="orgLink" id="orgLink" >
        </div>

        <div class="inputBox">
            <label for="orgPhone">Telephone/Phone Number</label>
            <input type="tel" name="orgPhone" id="orgPhone" required>
        </div>
        
        <div class="inputBox">
            <label for="orgAddress">Address</label>
            <input type="text" name="orgAddress" id="orgAddress" required>
        </div>
        <button type="submit" class="submit-btn">Submit</button>
    </form>
</body>
</html>


