<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style">
    
    <link rel="shortcut icon" type="image/x-icon" href="/image" style="height: 10px; width: 10px;"/>
    <title>Profile</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

    <script>
        $(document).ready(function(){
                $("#openInputBox").click(function(){
                    $("#changeNameBox").show();
                    $("#openInputBox").hide();
                })
            })
        $(document).ready(function(){
            $("#changeName").click(function(){
                let newName = $("#newName").val();
                    $.get('server.js?newName='+newName,function(data,status){
                        //alert(newName+" is setted successfully");
                        $("#changeNameBox").hide();
                        $("#openInputBox").show();
                        $("#some").html('<h4 class="profDet" id = "some" style="display: inline;"><inline class="profAtr" >Name : </inline > <inline id="userName">'+newName+'</inline> </h4>');
                    })
            })
        })
    </script>
</head>
<body>
    <!-- NavBarStart -->
    <header>
        <nav class="navContainer">
            <nav class="logo-title">
                <a href="/">
                    <img src="/image" alt="logo" class="logo" />
                    <h1 id="page-title">AcTrak</h1>
                </a>
            </nav>
            <a href="/main"><i class="bi bi-house-door-fill"></i>Home</a>
        </nav>
      </header>
    <!-- NavBarEnd -->
    <div class="profileDetails">
        <h3 class="profDet">Profile</h3>

        <h4 class="profDet" id = "some" style="display: inline;"><inline class="profAtr" >Name : </inline > <inline id="userName"><%=user["name"]%> </inline> </h4>
        <div id="changeNameBox" style="display:none">
            <input id="newName" type="text" >
            <button id="changeName" >Submit</button>
        </div>
        <button id="openInputBox">Change Name</button>
        
        

        <!-- <h4 class="profDet" ><inline class="profAtr">College :</inline> <%=user["college"]%></h4> -->
        <h4 class="profDet"><inline class="profAtr">email :</inline> <%=user["email"]%></h4>
        <h4 class="profDet"><inline class="profAtr">Profession Type : </inline>  <%=user["profType"]%></h4>
    </div>
    <a href="/edit">Edit Profile</a>
</body>

</html>