<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/x-icon" href="/image" style="height: 10px; width: 10px;" />

    <title>Remove Admin</title>
</head>
<body>
    <!-- NavBarStart -->
    <header>
        <nav class="navContainer">
            <nav class="logo-title">
                <a href="/">
                    <img src="/image" alt="logo" class="logo" />
                    <h1 id="page-title">AcTrak</h1>
                </a>
            </nav>
            <a href="/main"><i class="bi bi-house-door-fill"></i>Home</a>
        </nav>
      </header>
    <!-- NavBarEnd -->
    <div class="login-box">
        <h1 class="login-title">Enter mail to add</h1>
        <form action="/removeAdmin" method="POST" class="event-form"> 
            <!-- Email to add admin -->
            <label for="title">Enter email</label>
            <input type="email" id="email" name="email" required>
            <br><br>

            <!-- submit -->
            <input type="submit" value="submit" class="submit-btn">
        </form>
    </div>
    
</body>
</html>