<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style">
    <link rel="shortcut icon" type="image/x-icon" href="/image" style="height: 10px; width: 10px;" />
    <title>Show Users</title>
</head>
<body>
    <% for(let i=0; i < users.length; i++) { %>
        <h3 class="centerLink">User <%= i+1%>
        </h3>
        <div class="event-box" , id="customers">
            <table>
                    <tr>
                        <th>Name</th>
                        <th>
                            <%=users[i]["_doc"]["name"]%>
                        </th>
                    </tr>
                        <% for (const det in users[i]["_doc"]) {%>
                            <%if(det=="profType" | det=="email" |det =="id"){%>
                                
                                    <tr>
                                        <td id="event-details-attributes">
                                            <%=det%>
                                        </td>
                                        <td>
                                            <%=users[i]["_doc"][det]%>
                                        </td>
                                    </tr>
                            <%}%>
                        <%}%>
            </table>
            <hr>
        </div>
        <% } %>

</body>
</html>